.title {
    text-align: center;
    font-family:verdana;
    color:#616161;
    font-size: xx-large;
    padding: 18px;
}

.text{
    color: #04030f;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    padding-right: 150px;
    padding-left: 150px;
    text-indent: 50px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 70px 0;
  }

.body-menu {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #73C2BE;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color:  #FFFDF5;
  padding: 16px;
  text-decoration: none;
}
 

.sidebar a:hover:not(.active) {
  background-color:#FF8A5B;
  color:#bd3e0b;
}

div.content {
  margin-left: 200px;
  padding: 1px 5px;
  height: 100%;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.margin{
	padding-bottom: 20px;
  padding-top: 20px;

}
.font_p{
  font-size: 15px;
  size: 100%;
  height: 60px;
}
.font_h2{
	font-size: 18px;
}
.size_p{
	width: 100%;
  height: 130px;
	text-align: center;
}
.student_list{
  	height:50%; 
    width:100%;
    align-self: center;
    text-align: center;
}
.font-a{
    font-size: 16px;
    
}

.col-lg-4{
  padding: 15px;

}
.photo-size{
  height: 420px;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}
.cabecalho{
  background-color:#FFFDF5;
  height: 50px;
  width: 100%;
  text-align: center;
}
