.title {
    text-align: center;
    font-family:verdana;
    color:#616161;
    padding: 18px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 70px 0;
  }

.body-menu {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #73C2BE;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: #04030F;
  padding: 16px;
  text-decoration: none;
}
 

.sidebar a:hover:not(.active) {
  background-color: rgb(218, 218, 218);
  color: rgb(131, 131, 131);
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

  /*LIST-ALUNAS*/
body {
	font-family: Verdana, Geneva, Tahoma, sans-serif; 
	color: #011133;
	width: 100%;
    height: 100%;
}

.margin{
	padding-bottom: 20px;
    padding-top: 20px;
    font-size: xx-large;
}
.font_p{
	font-size: 15px;
}
.font_h2{
	font-size: 18px;
}
.tamanho_p{
	width: 100%;
    height:25%;
	text-align: center;
}
#lista_alunos{
	height:50%; 
    width:90%;
    margin-left: auto;
    margin-right: auto;
}

.font_a{
  font-size: 16px;
}
/*LIST-ALUNAS*/

/*RODAPÉ-ALUNAS*/
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.rodape_final{
  background-color: #FF8A5B;
  color: #fff;
  display: flex;
  justify-content: space-around;   
  padding: 40px 0; 
}
.rodape_final article p{
  text-align: center;
}  
.rodape_final article .redes_sociais{
  text-align: center;
}
.rodape_final article a i::before{
  font-size: 30px;
  margin: 10px;     
}
.empresas-logo {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.empresas-logo a{
  width: max-content;
  margin: auto;
  margin-bottom: 10px;
}
.empresas-logo a img {
  width: 220px;
  height: auto;
}
.contatos {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.contatos i{
  margin-bottom: 10px;     
}
.contatos i::before{
  margin-right: 10px;      
}
.img_rod{
  width: inherit;
}
/*RODAPÉ-ALUNAS*/

